---
---
<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
<body>
    <header>
        {% include navbar.html%}
        <div class="project-header">
            <span class="project-label">Project Showcase</span>
            <h1 class="project-title">Chat App Website </h1>
            <p class="project-summary">This is a homepage design and build for a concept project – a chat application. I designed the page first then built a responsive web page using Webflow.</p>
            <a class="project-link" href="https://chatapp-jhoude.webflow.io">Visit live site <i class="fa-solid fa-arrow-right"></i></a>
        </div>
        
    </header>
  
<main class="page-content" aria-label="Content">
    
    <div class="wrapper project-image">
        <img src="../assets/pictures/chatapp.jpg" alt="chat app website image"/>
    </div>

</main>
{% include footer.html %}
</body>

</html>
