---
---
<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
<body>
    <header>
        {% include navbar.html%}
        <div class="project-header">
            <span class="project-label">Project Showcase</span>
            <h1 class="project-title">Lucas Burns Mortgages </h1>
            <p class="project-summary">This is a mortgage broker website, I designed all pages then built for responsivement using 11ty with Contentful CMS.</p>
            <a class="project-link" href="https://lucasburnsmortgages.ca">Visit live site <i class="fa-solid fa-arrow-right"></i></a>
        </div>
        
    </header>
  
<main class="page-content" aria-label="Content">
    
    <div class="wrapper project-image">
        <img src="../assets/pictures/lbm.jpg" alt="lucas burns mortgages website image"/>
    </div>

</main>
{% include footer.html %}
</body>

</html>
