---
---
<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
<body>
    <header>
        {% include navbar.html%}
        <div class="project-header">
            <span class="project-label">Project Showcase</span>
            <h1 class="project-title">Team App Website </h1>
            <p class="project-summary">Full website design and build for a concept team collaboration platform. This website also includes a beautiful blog. I have built the website and the blog in Webflow which has one of the best CMS for blog hosting.</p>
            <a class="project-link" href="https://team-app-jhoude.webflow.io">Visit live site <i class="fa-solid fa-arrow-right"></i></a>
        </div>
        
    </header>
<main class="page-content" aria-label="Content">
    
    <div class="wrapper project-image">
        <img src="../assets/pictures/teamapp.jpg" atl="team app image"/>
    </div>

</main>
{% include footer.html %}
</body>

</html>
