---
---

<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
<body>
    <header class="site-header" role="banner">

        {% include navbar.html %}
            <div class="wrapper">
              <div class="hero-cta row"><div class="col-8">
                <h1>My Resume</h1>
              </div></div>
            </div>
      </header>
<main class="page-content" aria-label="Content">
    
    <div class="wrapper resume">
        <div class="work">
          <h2>My Education</h2>
          <p>Diploma, Computer Programming <span class="education-date">05/2018</span></p>
          <p>Algonquin College of Applied Arts and Technology - Ottawa</p>
        </div>
      <div class="work">
        <h2>My Certifications</h2>
        <ul>
            <li>Complete Web Design - Udemy 2024</li>
            <li>Learning Pything - LinkedIn Learning 2024</li>
            <li>Learning Typescript - LinkedIn Learning 2024</li>
            <li>Angular Essential Training - LinkedIn Learning 2024</li>
            <li>Certified Scrum Master - Scrum Alliance 2023</li>
            <li>Certfied Drupal 10 Site Builder - Acquia 2023</li>
            <li>Developing Front End Apps with React - EdX 2023</li>
            <li>Certified Professionals in Accessibility Core Competencies (CPACC) - IAAP 2022</li>
            <li>Intro to Web Accessibility - EdX 2022</li>
            <li>Certified Drupal 8 Site Builder - Acquia 2018</li>
        </ul>
      </div>
    <div class="work">
      <div id="experience">
        <div>
          <h2>My Work Experience</h2>
        </div>
        <div>
          <p class="exp-title">Programmer and Solution Analyst</p>
          <span class="exp-company">OpenPlus - Ottawa 09/2023 - 11/2023</span>
          <ul>
            <li>Worked on Drupal 9 and Drupal 10 site for multiple Government of Canada site using the Wxt Distribution</li>
            <li>Performed system analysis, documentation, testing, implementation, and user support for platform transitions.</li>
            <li>Improved systems with addition of new features and infrastructure.</li>
          </ul>
        </div>
        <div>
          <p class="exp-title">Web Engineer and Accessibility Specialist</p>
          <span class="exp-company">CivicActions, Inc - California 11/2020 - 08/2023</span>
          <ul>
            <li>Collected, defined, and translated user requirements into project designs and implementation plans for the development of Governement Drupal 7 and Drupal 8 Sites and Moodle sites using the USWDS theme</li>
            <li>Acted as tech lead for multiple projects.</li>
            <li>Conducted accessibility training sessions for onboarding all new hires and let multiple trainings on accessibility for Government Procurement as Level 2 Accesibility Champion.</li>
          </ul>
        </div>
        <div>
          <p class="exp-title">Web Developer</p>
          <span class="exp-company">OpenConcept - Ottawa 03/2020 - 11/2020</span>
          <ul>
            <li>Architecting, designing, and implementing new features on multiple Drupal 8 Sites using the Wxt Distribution.</li>
            <li>Created site documentation and accessible documents.</li>
          </ul>
        </div>
        <div>
          <p class="exp-title">Web Developer</p>
          <span class="exp-company">OPIN - Ottawa 06/2018 - 03/2020</span>
          <ul>
            <li>Architecting, designing, and implementing new features on multiple Drupal 8 sites.</li>
            <li>Multi-tasked across multiple functions and roles to meet deadlines and organizational expectations.</li>
            <li>Training clients to understand Drupal and how to use their new site.</li>
            <li>Created site documentation and custom Drupal modules</li>
          </ul>
        </div>

      </div>
    </div>
    </div>

</main>
{% include footer.html %}
</body>

</html>
