.wrapper {
    max-width: 1360px !important;

}
header {
    border: 0 !important;
    background-color: #F9EFE7;
    padding: 20px 20px 60px;
    @media(min-width: 900px) {
        padding: 20px 20px 140px;
        
    }
    .nav-wrapper {
        padding-bottom: 60px;
        @media(min-width: 760px) {
            padding-bottom: 115px;
        }
        
    }
    .site-title {
        font-weight: 900;
        font-size: 20px;
        color: black !important;
    }
    .site-nav {
        display: flex;
        border: none;
        top: 25px;
        .trigger {
            display: flex;
            padding-top: 15px;
            font-weight: 700;
            a:hover,
            a:focus {
                text-decoration: none;
                border-bottom: 2px solid black;
            }
        }
    }
    .nav-trigger-label {
        background-color: #F9EFE7;
        border: none;
    }
    .nav-trigger-label.opened {
        display: none !important;
    }
    .hero-cta.row {
        padding: 0;
        h1 {
            line-height: 60px;
            @media(min-width: 900px) {
                line-height: 80px;
            }
            
        }
        .highlight {
            border-bottom: 14px solid yellow;
            background-color: #F9EFE7;
        }
        a.btn {
            margin-top: 64px;
            font-size: 18px;
            
        }
    }
    .project-header {
        max-width: 736px;
        margin: 0 auto;
        text-align: center;
        .project-label {
            text-transform: uppercase;
            color:#716F73;
            font-weight: 700;
            padding-bottom: 8px;
        }
        .project-title {
            padding-bottom: 37px;
        }
        .project-link {
            color: black !important;
            &:hover,
            &:focus {
                text-decoration: none;
                border-bottom: 2px solid black;
            }
            i {
                padding-left: 7px;
            }
            
        }
    }
    .btn-close {
        display: none;
        margin: 5px;
    }
    .btn-close.opened {
        display: block;
    }
    
}
header.resume-wrapper {
    h1{
        text-align: center;
    }
}
main.resume-wrapper {
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
    ul li {
        list-style-position: inside;
    }
    
}
h1, h2, h3, h4, h5, h6 {
    font-family: Abril Fatface;
    font-weight: 700 !important;
}
h1, .h1 {
    font-size: 38px;
    @media(min-width: 760px) {
        font-size: 56px;
    }
    
}
h2, .h2 {
    font-size: 40px;
}
h3, .h3 {
    font-size: 36px;
}
h4, .h4 {
    font-size: 28px;
}
p, a{
    font-size: 18px;
}
a.btn {
    color: white !important;
    background-color: black;
    border: 0 !important;
    border-radius: 0 !important;
    padding: 17px 45px;
    border: 1px solid black !important;
    font-size: 18px;
    &:hover,
    &:focus {
        background-color: white;
        color: black !important;
        text-decoration: none;
        border: 1px solid black !important;
    }
}
main {
    max-width: none;
   
    .project-image {
        margin-top: -125px;
        box-shadow: 0px 0px 30px 0px;
        margin-bottom: 150px;
        padding: 0;
    }

    .work-wrapper {
        .row {
            margin-bottom: 80px;
            @media (min-width: 900px) {
                margin-bottom: 260px;
            }
            
        }
        
        .latest-work-title {
            text-transform: uppercase;
            color: #716F73;
            margin-bottom: 30px;
            margin-top: 60px;
            font-size: 26px;
            @media(min-width: 900px) {
                margin-top: 160px;
                margin-bottom: 60px;
            }

        }
        .latest-title {
            margin-bottom: 32px;
        }
        .tags-wrapper {
            margin-bottom: 32px;
            .tag {
                background-color: #F9EFE7;
                padding: 6px 10px;
                margin-right: 16px;
                font-weight: 700;
                margin-bottom: 10px;
                display: inline-block;
            }
        }
        a.btn {
            margin-top: 64px;
            margin-bottom: 40px;
        }
    }
    .what-ido {
        h2 {
            margin-bottom: 40px;
        }
        .exp-title {
            font-weight: 700;
            font-size: 26px;
            padding-bottom: 9px;
            font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"
        }
        .pb-80 {
            padding-bottom: 80px;
        }
    }
    .resume {
        padding-top: 60px;
        .work {
            padding-bottom: 60px;
            .exp-title {
                font-weight: 700;
                font-size: 24px;
                padding-bottom: 0;
                margin-bottom: 0;
            }
            .exp-company {
                color:#716F73;
                font-size: 14px;
                margin-bottom: 15px;
            }
            ul {
                padding-bottom: 40px;
            }
        }
    }
    
    

}
footer {
    background-color: #F9EFE7;
    padding: 30px 20px 20px;
    position: relative;
    @media (min-width: 760px) {
        padding: 50px 20px 20px;
    }
    .container {
        padding: 0;
        max-width: 1320px;
        position: relative;
        .row {
            padding: 0;
        }
    }
    .social-icons {
        margin-top: 75px;
    
        .social {
            width: 35px;
            height: 35px;
            margin-right: 15px;
            &:hover,
            &:focus {
                fill: black;
            }
            @media (min-width: 760px) {
                position: absolute;
                bottom: 0;
                right: 0;
            }
        }
        .social:nth-child(2) {
            @media (min-width: 760px) {
                right: 50px;
            }
        }
    }
    .footer-info {
        padding: 5px;
    }
    .contact-email {
        color: black !important;
        font-weight: 700;   
    }
    .copyright {
        color:#6E6B70;
        margin-top: 20px;
        font-size: 14px;
        width: auto;
          
    }
}